@import "../../styles/variable.scss";

.wrapper {
  padding-bottom: 60px;
  margin: 0 10%;

  @media (max-width: 700px) {
    margin-top: 60px;
  }

  .heading {
    text-align: center;
    margin-top: 70px;

    @media (max-width: 700px) {
      margin-top: 200px;
    }

    h2 {
      font-size: 36px;
      font-family: "Campton Bold", sans-serif;
      color: $color-secondary;
      margin-bottom: 10px;
    }

    p {
      color: rgba(13, 35, 51, 1);
      font-size: 16px;
      font-family: "Campton Light", sans-serif;
      margin: 0;
    }
  }

  .content {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;

    @media (max-width: 700px) {
      flex-direction: column;
    }

    .left_side {
      width: 50%;

      @media (max-width: 700px) {
        width: 100%;
        align-items: center;
      }
    }

    .right_side {
      width: 50%;
      max-width: 500px;

      @media (max-width: 700px) {
        width: 100%;
        align-items: center;
      }

      h2 {
        color: $color-secondary;
        font-weight: 700;
        font-family: "Campton Bold", sans-serif;
        font-size: 36px;
      }

      p {
        color: $color-secondary;
        font-family: "Campton Light", sans-serif;
        font-size: 15px;
      }

      .list {
        margin-top: 20px;
        margin-bottom: 30px;
        display: flex;
        justify-content: space-between;

        .list_items p {
          display: flex;
          gap: 10px;
          font-family: "Campton Bold", sans-serif;
        }
      }

      & button {
        width: 200px;
        height: 50px;
        border-radius: 10px;
        background: $color-primary;
        border: none;
        font-family: "Campton Bold", sans-serif;
        color: $color-white;
        font-size: 16px;
        cursor: pointer;

        &:hover {
          background: $color-hover;
          transition: 0.3s ease-in-out;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        }
      }
    }
  }
}

.section_two {
  background: rgba(0, 152, 218, 0.03);
  padding-bottom: 108px;

  .container {
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
    margin: 0 10%;

    @media (max-width: 700px) {
      flex-direction: column;
    }

    .left_section {
      width: 50%;
      @media (max-width: 700px) {
        width: 100%;
      }
      .icon_details_row {
        display: flex;
        max-width: 500px;
        justify-content: space-between;
        margin-bottom: 60px;

        .content_box {
          h2 {
            color: $color-secondary;
            font-size: 20px;
            font-family: "Campton Bold", sans-serif;
          }

          p {
            font-size: 14px;
            font-family: "Campton Light", sans-serif;
            color: $color-secondary;
          }
        }
      }
    }
  }
}
